doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/d3.v3.min.js', charset='utf-8') 
    script(type='text/javascript', src='/javascripts/sheng.js') 

