extends responsive_layout

block content
    div#scorecard.container
        h1= title 
        div(class="eight columns clearfix")
            div(class="row")
                div#slider(class="five columns")
                div(class="one columns")
                    input#points(type="text", readonly="readonly", value=10)
                label(class="one columns", for="points").
                    points
            div(class="row")
                div(class="eight columns controls")
                    each house in housescores
                        div(class="row " + house.class)
                            div(class="one columns minus") 
                                button.minus(onclick="javascript:houseAction('"+house.name+"','-')")='-'
                            div(class="four columns " + house.class) 
                                span.text=house.name + "(" + house.score + ")"
                            div(class="one columns add") 
                                button.add(onclick="javascript:houseAction('"+house.name+"','+')")='+'
